.container {
	padding: 0;
}

.maincont {
	background: rgb(8, 8, 49);
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: Montserrat;
	color: #fff;
}

.maincont h1 {
	text-transform: uppercase;
}

.newtodo h3 {
	text-align: center;
}

.newtodo .semi {
	display: flex;
	gap: 8px;
}

.semi input {
	padding: 5px 7px;
	border: 2px solid rgb(52, 52, 114);
	outline: none;
	border-radius: 4px;
}

.semi button {
	border: none;
	padding: 5px 13px;
	background: #fff;
	color: rgb(8, 8, 49);
	border-radius: 5px;
	font-weight: bold;
}

.eachtodo {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.eachtodo div button {
	color: red;
	background: none;
	border: none;
	opacity: 70%;
	font-family: monospace;
	font-weight: 600;
}

.maincont button:hover {
	cursor: pointer;
}

.text {
	max-width: 350px;
}